<div class="d-flex flex-row justify-content-center p-5" style="background-color: #e9f0ed;">
    <div class="form-border shadow-lg">
        <h3 class="form-heading">Edit Doctor Details:</h3>
        <form class="form-bg" [formGroup]="createDoctorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-title">Doctor Name:</label>
                <br>
                <span class="span-field" *ngIf="f.doctorName && f.doctorName.invalid && f.doctorName.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="doctorName"/>
            </div>
            <div class="form-group mt-3 mb-3">
                <label class="form-title">Gender :</label><br>
                <select formControlName="doctorGender" class="custom-select form-control w-100">
                    <option selected>--Gender--</option><br>
                    <option *ngFor="let gender of Genders">{{gender}}</option>
                </select>
            </div>


            <div class="form-group">
                <label class="form-title">Age :</label>
                <br>
                <span class="span-field" *ngIf="f.doctorAge && f.doctorAge.invalid && f.doctorAge.touched">*Required</span>
                <input min="25" max="70" type="number" class="form-control form-field" formControlName="doctorAge"/>
            </div>
            <div class="form-group">
                <label class="form-title">Mobile :</label>
                <br>
                <span class="span-field" *ngIf="f.doctorMobileNumber && f.doctorMobileNumber.invalid && f.doctorMobileNumber.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="doctorMobileNumber"/>
            </div>
            <!-- <div class="form-group">
                <label class="form-title">Specialization :</label>
                <br>
                <span class="span-field" *ngIf="f.doctorSpecialization && f.doctorSpecialization.invalid && f.doctorSpecialization.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="doctorSpecialization"/>
            </div> -->
            <div class="mt-3 mb-4 ">
                <label class="form-title">Specialization:</label><br>
                <select formControlName="doctorSpecialization" class="form-control w-100">
                    <option selected>--Specialization--</option>
                    <option *ngFor="let spec of specializations">{{spec}}</option>
                </select>
            </div>
            <div class="text-center mt-2 d-flex flex-row justify-content-between mt-3">
                <lib-ng-toast></lib-ng-toast>
               <button style="background-color: darkslategrey;color:white" class="btn" type="submit">Update</button>
               <button style="background-color: darkslategrey;color:white" class="btn" routerLink="/RUDdoctor">Doctor List</button>
            </div>
        </form>
    </div>
</div>