
<div class="bg" style="background-color: #e9f0ed; height: 100vh;">
    <div class="d-flex flex-row justify-content-center p-4 ">
        <div class="card-left-style mt-3">
            <div class="card-bg card-styling d-flex flex-row">
            
                <img class="card-image" src="https://res.cloudinary.com/donwtxd4i/image/upload/v1655461450/What-is-Hospital-Information-System-Our-Top-Picks_hldj7x.png"/>
                
                <div class="card-description p-3">
                    <h3 class="heading">Hospitals</h3>
                    <p class="paragraph">Most popular Hospitals are available here Click below button to perform basic actions</p>
                    <button style="background-color: darkslategrey;" mat-raised-button class="btn btn-primary" routerLink="/RUDhospital">Click here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center p-3">
        <div  class="card-left-style">
            <div class="card-bg card-styling d-flex flex-row">
            
                <img class="card-image" src="https://res.cloudinary.com/donwtxd4i/image/upload/v1655461192/Best-Eye-Hospital-Management-Software-for-Ophthalmology-Practice_FB_quasqw.png"/>
                
                <div class="card-description p-3">
                    <h3 class="heading">Patients</h3>
                    <p class="paragraph">By clicking below button you can see the patient list</p>
                    <button style="background-color: darkslategrey;" mat-raised-button class="btn btn-primary" routerLink="/patientslist">Click here</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
