<div class="d-flex flex-row justify-content-center mt-5">
    <mat-card class="card-styling">
        <h3 class="heading">Add Hospital Details</h3>
        <button mat-raised-button color="primary" routerLink="/createhospital">Click here</button>
    </mat-card>
</div>
<div class="d-flex flex-row justify-content-center mt-5">
    <mat-card class="card-styling">
        <h3 class="heading">Get & Delete & Update Hospital Details</h3>
        <button mat-raised-button color="primary" routerLink="/RUDhospital">Click here</button>
    </mat-card> 
</div>

