
<div class="home-bg">
    <div class="home-container">
        <div>
            <p style="color: #25555c; font-size: 13px;">LET'S MAKE YOUR LIFE HAPPIER</p>    
            <h1  class="align">Healthy Living</h1>
            <button routerLink="signup" class="btn button">Signup</button>
            <div class="mt-4 d-flex flex-row justify-content-center">
                <p class="form-title align">Already have an account Login here  </p>
                <a routerLink="/login" style="font-size: 15px; padding-left:5px;">LOGIN</a>
            </div>
        </div>
        
    </div>
</div>