.table-styles{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 3% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.delete{
    height: 35px;
    width: 80px;
}
.table-field{
    width: 100px;
}