.form-border{
    background-color: #395446; padding: 2px; margin-top: 10PX;
    border-radius: 8px;
}
.form-bg{
    padding:30px; 
    background-color: #edeff2;
}
.form-field {
    height: 34px;
}
.form-title{
    font-size: 13px;
    color: #222429;
    font-weight: 500;
}
.span-field{
    color: red; font-size: 10px;
}
.form-heading{
    color:white;
    font-size: 17px;padding: 10px;
}
