<div class="d-flex flex-row justify-content-center mt-5">
    <div class="form-border shadow-lg">
        <h3 class="form-heading">Add Hospital :</h3>
        <form class="form-bg" [formGroup]="createHopspitalForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-title">Hospital Name:</label>
                <br>
                <span class="span-field" *ngIf="hospitalName && hospitalName.invalid && hospitalName.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="hospitalName"/>
            </div>
            <div class="form-group">
                <label class="form-title">Hospital Code:</label>
                <br>
                <span class="span-field" *ngIf="hospitalCode && hospitalCode.invalid && hospitalCode.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="hospitalCode"/>
            </div>
            <div class="form-group mt-2 mb-2">
                <label class="form-title">Hospital Type:</label>
                <br>
                <select formControlName="hospitalType">
                    <option class="form-title" selected>------choose hospital type-------</option>
                    <option class="form-title form-control" *ngFor="let type1 of htypes">{{type1}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-title">Hospital Location:</label>
                <br>
                <span class="span-field" *ngIf="hospitalLocation && hospitalLocation.invalid && hospitalLocation.touched">*Required</span>
                <input type="text" class="form-control form-field" formControlName="hospitalLocation"/>
            </div>
            <div class="text-center mt-2 d-flex flex-row justify-content-between mt-3">
               <button class="btn btn-primary" type="submit">Submit</button>
               <button class="btn btn-primary " routerLink="/RUDhospital">Hospitals List</button>
            </div>
        </form>
    </div>
</div>