<div class="d-flex flex-row justify-content-center mt-5">
    <mat-card class="card-styling">
        <h3 class="heading">Add Department Details</h3>
        <button mat-raised-button color="primary" routerLink="/createdepartment">Click here</button>
    </mat-card>
</div>
<div class="d-flex flex-row justify-content-center mt-5">
    <mat-card class="card-styling">
        <h3 class="heading">Get & Delete & Update Department Details</h3>
        <button mat-raised-button color="primary" routerLink="/RUDdepartment">Click here</button>
    </mat-card> 
</div>

