<div class="container p-5">
    <div class="row" >
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <img src="https://res.cloudinary.com/donwtxd4i/image/upload/v1654177469/hospital_okwdpl.jpg" class="card-img-top image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title heading">Hospital</h5>
                      <p class="card-text paragraph">Here populated Hospitals are available.Go and do the operations like add,read,update,delete</p>
                      
                      <button class="btn btn-primary button" routerLink="/hospital">Click Here</button>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <img src="https://res.cloudinary.com/donwtxd4i/image/upload/v1654177482/Department_goeh03.jpg" class="card-img-top image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title heading">Department</h5>
                      <p class="card-text paragraph">Departments are available here you can do CRUD operations on departments</p>
                      <a href="#" class="btn btn-primary button" routerLink="/department">Click here</a>
                    </div>
                  </div>
            </div>
    
    
        <div class="col-3">
            <div class="card" style="width: 100%;">
                <img src="https://res.cloudinary.com/donwtxd4i/image/upload/v1654177498/Doctor_bdwxmo.jpg" class="card-img-top image" alt="...">
                <div class="card-body">
                  <h5 class="card-title heading">Doctor</h5>
                  <p class="card-text paragraph">Here Specialized Doctors list in Hospitals available,you can do the CRUD operations on doctor details</p>
                  <a href="#" class="btn btn-primary button">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 100%;">
                <img src="https://res.cloudinary.com/donwtxd4i/image/upload/v1654177509/patient_rw6oad.png" class="card-img-top image" alt="...">
                <div class="card-body">
                  <h5 class="card-title heading">Patient</h5>
                  <p class="card-text paragraph">You Can Moniter the Patient Health status here</p>
                  <a href="#" class="btn btn-primary button">Click here</a>
                </div>
              </div>
        </div>
</div>
</div>