.heading{
    font-size: 17px;
    color: #343636;
}
.paragraph{
    font-size: 13px;
    color: #606363;
}
.button{
    height: 30px;
    width: 100px;
    font-size: 13px;
}
.image{
    height: 140px;
    width: 140px;
}
